body{
  background-color: rgba(66, 254, 248, 0.97);
  font-family: cursive;
  color: rgba(21, 87, 85, 0.97);

}

label::after {
  content: ': '
}

#content-container{
  display: flex;
  flex-wrap: wrap;
}
